<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>920764747568-8imi7dlk9va8gnppu3kr7a5q7lan7lcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920764747568-8imi7dlk9va8gnppu3kr7a5q7lan7lcv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNSEKsShkmr7mDTNHD_idRzIzRu_fgJPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>920764747568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaz.JazHotels</string>
	<key>PROJECT_ID</key>
	<string>jazhotels-35422</string>
	<key>STORAGE_BUCKET</key>
	<string>jazhotels-35422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920764747568:ios:66dcbf39daea062c</string>
	<key>DATABASE_URL</key>
	<string>https://jazhotels-35422.firebaseio.com</string>
</dict>
</plist>